/* Estilos gerais */
body {
    font-family: Sora, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para o header */
header {
    background-color: #1E1E1E;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilo para o logo dentro do header */
.logo img {
    max-width: 100%;
    height: auto;
}

/* Estilo para o título dentro do header */
header h1 {
    font-size: 24px; /* Tamanho do título em telas maiores */
}

/* Media query para ajustar o header em telas menores */
@media (max-width: 768px) {
    header {
        padding: 10px; /* Reduzir o espaçamento interno do header */
    }

    header h1 {
        color:#1E1E1E; /* Reduzir o tamanho do título em telas menores */
    }
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Estilos para membros da equipe */


.membro {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.membro img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.membro h2 {
    margin-top: 10px;
}

.membro p {
    color: #777;
}