/* Estilos gerais */
body {
    font-family: 'Sora';
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Impede a barra de rolagem horizontal */
}

header {
    background-color: #1E1E1E;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    z-index: 1000;
}

/* Adicione esta regra para tornar o header responsivo */
.logo img {
    max-height: 100px; /* Limite a altura do logo */
    width: auto; /* Permita a largura variável */
}

nav ul {
    cursor: pointer;
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li {
    font-size: 18px;
    /* Evite "float: right;" que pode causar problemas em telas menores */
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    position: relative;
}

.imagem-fundo {
    background-image: url('images/wallpaper_teste.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.texto {
    flex: 1;
    border-radius: 5px;
    text-align: center;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

/* Faça ajustes nos tamanhos de fonte para serem proporcionais */
.texto h1 {
    font-size: 4vw; /* Use uma unidade relativa, como vw (viewport width) */
    font-weight: bold;
    margin-bottom: 10px;
}

.texto p {
    font-size: 2vw; /* Use uma unidade relativa, como vw (viewport width) */
    font-weight: 200;
}

.botao {
    display: block;
    cursor: pointer;
    background-color: #F2DE18;
    color: #1E1E1E;
    text-decoration: none;
    padding: 1.5vw 3vw; /* Use uma unidade relativa, como vw (viewport width) */
    border-radius: 5px;
    text-align: center;
    margin-top: 1vw; /* Use uma unidade relativa, como vw (viewport width) */
    box-shadow: 1vw 1vw 2.5vw 1vw #B08533; /* Use uma unidade relativa, como vw (viewport width) */
}

/* Estilos para o footer */
footer {
    background-color: #1E1E1E; /* Cor de fundo preto */
    color: white;
    text-align: center;
    padding: 20px;
    max-width: 100%;
}

@media screen and (max-width: 552px) {
    .texto {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .texto h1 {
        font-size: 10vw; /* Use uma unidade relativa, como vw (viewport width) */
    }
    .texto p {
        font-size: 7vw;
        font-weight: 200; /* Use uma unidade relativa, como vw (viewport width) */
    }
    .botao {
        padding: 3vw 6vw; /* Use uma unidade relativa, como vw (viewport width) */
        margin-top: 3vw; /* Use uma unidade relativa, como vw (viewport width) */
    }
}
